Repository DigitalInnovation/brightcloud-container-registry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tn-cloud-9-app-framework, @platform-security-team, @infrastructure-team, @production-approvers, @devops-team, @security-team, @platform-team, @technical-writers, @frontend-team, @qa-team, @sre-team, @observability-team, @release-managers, @compliance-team, @audit-team

docs: add LICENSE and CONTRIBUTING files for GitHub community standards
  CONTRIBUTING.md
  LICENSE
Owners: @tn-cloud-9-app-framework, @technical-writers

docs: add LICENSE and CONTRIBUTING files for GitHub community standards
  CONTRIBUTING.md
  LICENSE
Owners: @tn-cloud-9-app-framework, @technical-writers

chore: remove license references and LICENSE file
  .claude/settings.local.json
  .github/workflows/security.yml
  .gitignore
  .pre-commit-config.yaml
  .releaserc.json
  CLAUDE.md
  CONTRIBUTING.md
  LICENSE
  README.md
  VERSION
  acr-image-promotion-action/README.md
  acr-image-promotion-action/src/main.ts
  acr-image-promotion-action/src/version.ts
  acr-image-promotion-action/tests/version.test.ts
  pull_request_template.md
  renovate.json
  terraform-azurerm-acr-platform/modules/acr-registry/README.md
  terraform-azurerm-acr-platform/test/validation_test.go
Owners: @tn-cloud-9-app-framework, @devops-team, @technical-writers, @security-team, @infrastructure-team, @platform-security-team

chore: remove license references and LICENSE file
  .claude/settings.local.json
  .github/workflows/security.yml
  .gitignore
  .pre-commit-config.yaml
  .releaserc.json
  CLAUDE.md
  CONTRIBUTING.md
  LICENSE
  README.md
  VERSION
  acr-image-promotion-action/README.md
  acr-image-promotion-action/src/main.ts
  acr-image-promotion-action/src/version.ts
  acr-image-promotion-action/tests/version.test.ts
  pull_request_template.md
  renovate.json
  terraform-azurerm-acr-platform/modules/acr-registry/README.md
  terraform-azurerm-acr-platform/test/validation_test.go
Owners: @tn-cloud-9-app-framework, @devops-team, @technical-writers, @security-team, @infrastructure-team, @platform-security-team

fix(workflows): address ghlint issues in security.yml
  .github/workflows/security.yml
Owners: @tn-cloud-9-app-framework, @devops-team

fix(workflows): address ghlint issues in security.yml
  .github/workflows/security.yml
Owners: @tn-cloud-9-app-framework, @devops-team

fix(workflows): address ghlint issues in release.yml
  .github/workflows/release.yml
Owners: @tn-cloud-9-app-framework, @release-managers, @devops-team

fix(workflows): address ghlint issues in release.yml
  .github/workflows/release.yml
Owners: @tn-cloud-9-app-framework, @release-managers, @devops-team

fix(workflows): address ghlint issues in action-test.yml
  .github/workflows/action-test.yml
Owners: @tn-cloud-9-app-framework, @devops-team

fix(workflows): address ghlint issues in action-test.yml
  .github/workflows/action-test.yml
Owners: @tn-cloud-9-app-framework, @devops-team

fix(workflows): address ghlint issues in quality workflows
  .github/workflows/general-quality.yml
  .github/workflows/typescript-quality.yml
Owners: @tn-cloud-9-app-framework, @devops-team

fix(workflows): address ghlint issues in quality workflows
  .github/workflows/general-quality.yml
  .github/workflows/typescript-quality.yml
Owners: @tn-cloud-9-app-framework, @devops-team

chore: add .claude directory to gitignore
  .claude/settings.local.json
  .gitignore
Owners: @tn-cloud-9-app-framework

chore: add .claude directory to gitignore
  .claude/settings.local.json
  .gitignore
Owners: @tn-cloud-9-app-framework

fix(workflows): address ghlint issues in terraform-test.yml
  .github/workflows/terraform-test.yml
Owners: @tn-cloud-9-app-framework, @devops-team

fix(workflows): address ghlint issues in terraform-test.yml
  .github/workflows/terraform-test.yml
Owners: @tn-cloud-9-app-framework, @devops-team

chore: add CLAUDE.md to gitignore and remove from tracking
  .gitignore
  CLAUDE.md
Owners: @tn-cloud-9-app-framework

chore: add CLAUDE.md to gitignore and remove from tracking
  .gitignore
  CLAUDE.md
Owners: @tn-cloud-9-app-framework

fix(workflows): address ghlint issues in terraform and access workflows
  .github/workflows/grant-app-service-image-access.yml
  .github/workflows/provision-team-registry-access.yml
  .github/workflows/terraform-quality.yml
Owners: @tn-cloud-9-app-framework, @devops-team

fix(workflows): address ghlint issues in terraform and access workflows
  .github/workflows/grant-app-service-image-access.yml
  .github/workflows/provision-team-registry-access.yml
  .github/workflows/terraform-quality.yml
Owners: @tn-cloud-9-app-framework, @devops-team

fix(workflows): address ghlint issues in subproject workflows
  acr-image-promotion-action/.github/workflows/test-actions.yml
  acr-image-promotion-action/.github/workflows/test.yml
  terraform-azurerm-acr-platform/.github/workflows/deploy-nonprod.yml
  terraform-azurerm-acr-platform/.github/workflows/deploy-production.yml
Owners: @tn-cloud-9-app-framework, @security-team, @platform-security-team

fix(workflows): address ghlint issues in subproject workflows
  acr-image-promotion-action/.github/workflows/test-actions.yml
  acr-image-promotion-action/.github/workflows/test.yml
  terraform-azurerm-acr-platform/.github/workflows/deploy-nonprod.yml
  terraform-azurerm-acr-platform/.github/workflows/deploy-production.yml
Owners: @tn-cloud-9-app-framework, @security-team, @platform-security-team

feat: implement comprehensive CI/CD quality gates workflow
  .github/workflows/quality-gates.yml
Owners: @tn-cloud-9-app-framework, @devops-team

feat: implement comprehensive CI/CD quality gates workflow
  .github/workflows/quality-gates.yml
Owners: @tn-cloud-9-app-framework, @devops-team

docs: add architecture decision records and documentation
  docs/architecture/adr/001-terraform-module-architecture.md
Owners: @tn-cloud-9-app-framework, @technical-writers

docs: add architecture decision records and documentation
  docs/architecture/adr/001-terraform-module-architecture.md
Owners: @tn-cloud-9-app-framework, @technical-writers

docs: add comprehensive operations runbooks and procedures
  docs/operations/runbooks/incident-response.md
Owners: @tn-cloud-9-app-framework, @technical-writers

docs: add comprehensive operations runbooks and procedures
  docs/operations/runbooks/incident-response.md
Owners: @tn-cloud-9-app-framework, @technical-writers

feat: add comprehensive Terraform module examples
  terraform-azurerm-acr-platform/examples/complete/outputs.tf
  terraform-azurerm-acr-platform/examples/complete/variables.tf
Owners: @tn-cloud-9-app-framework, @platform-security-team

feat: add comprehensive Terraform module examples
  terraform-azurerm-acr-platform/examples/complete/outputs.tf
  terraform-azurerm-acr-platform/examples/complete/variables.tf
Owners: @tn-cloud-9-app-framework, @platform-security-team

feat: implement M&S Technology Standards compliance
  .github/pull_request_template.md
  apply-m-and-s-standards.sh
  branch-restriction-ruleset.json
  github-ruleset-request.json
  repository-settings-update.json
Owners: @tn-cloud-9-app-framework, @devops-team

.github/CODEOWNERS:

# Global code owners
* @tn-cloud-9-app-framework

# Terraform infrastructure code
/terraform-azurerm-acr-platform/ @tn-cloud-9-app-framework @platform-security-team
/terraform-azurerm-acr-platform/modules/ @tn-cloud-9-app-framework @infrastructure-team
/terraform-azurerm-acr-platform/environments/production/ @tn-cloud-9-app-framework @platform-security-team @production-approvers

# GitHub Actions and automation
/.github/ @tn-cloud-9-app-framework @devops-team
/acr-image-promotion-action/ @tn-cloud-9-app-framework @security-team

# Backstage templates and configurations
/backstage-acr-template/ @tn-cloud-9-app-framework @platform-team
/catalog-info.yaml @tn-cloud-9-app-framework @platform-team

# Security-related files
/.security/ @platform-security-team @security-team
/SECURITY.md @platform-security-team @security-team
/.tfsec/ @platform-security-team @security-team
/.checkov.yaml @platform-security-team @security-team

# Documentation
/docs/ @tn-cloud-9-app-framework @technical-writers
/README.md @tn-cloud-9-app-framework @technical-writers
/CONTRIBUTING.md @tn-cloud-9-app-framework @technical-writers
/REFACTORING_PLAN.md @tn-cloud-9-app-framework

# Configuration files
/.eslintrc.js @tn-cloud-9-app-framework @frontend-team
/.prettierrc @tn-cloud-9-app-framework @frontend-team
/.tflint.hcl @tn-cloud-9-app-framework @infrastructure-team
/.pre-commit-config.yaml @tn-cloud-9-app-framework @devops-team

# Testing infrastructure
/tests/ @tn-cloud-9-app-framework @qa-team
/terratest/ @tn-cloud-9-app-framework @infrastructure-team @qa-team

# Monitoring and observability
/monitoring/ @tn-cloud-9-app-framework @sre-team @observability-team

# Release and deployment
/CHANGELOG.md @tn-cloud-9-app-framework @release-managers
/.github/workflows/release.yml @tn-cloud-9-app-framework @release-managers @devops-team

# Compliance and audit
/compliance/ @platform-security-team @compliance-team @audit-team
/policies/ @platform-security-team @compliance-team
